---
---

@import "{{ site.theme }}";

.wrapper {
  width: 1378px;
}

header p.archive {
  margin-bottom: 0;
}

header ul.archive {
  background-color: white;
  border: none;
  height: 350px;
}

header li {
  border: none;
  height: auto;
  width: 270px;
}

header li a {
  height: auto;
  width: 270px;
  text-align: left;
  color: rgb(38, 124, 185);
}

section {
  width: 1018px;
}

div.highlighter-rouge {
  font-size: 11px;
}
